<<<<<<< Updated upstream
<nav class="navBar">
    <ul>
        {{#each navItems}}
        <li><a href="#page{{ @index }}">{{ this }}</a></li>
        {{/each}}
        {{#if name}}
        <div>Привет {{ name }}!</div>
        {{/if}}
    </ul>
</nav>
=======
<ul class="nav justify-content-center" style="background-color: beige; margin-bottom: 30px">

   <h1>TODO APP</h1>

</ul>
>>>>>>> Stashed changes
